
div[data-angular-treeview] {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    font-family: Tahoma;
    font-size:13px;
    color: #555;
    text-decoration: none;
}

div[data-tree-model] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

div[data-tree-model] li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

div[data-tree-model] li .expanded {
    padding: 1px 10px;
    background-image: url("/images/expanded.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
    padding: 1px 10px;
    background-image: url("/images/collapsed.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
    padding: 1px 10px;
    background-image: url("");
    background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}

div[data-tree-model] li .selected {
    background-color: #aaddff;
    font-weight: bold;
    padding: 1px 5px;
}
.nav-tabs {
    border-bottom: 1px solid #ccc;
}

div[data-tree-model] li .server-disconnected {
    padding: 1px 10px;
    background-image: url("/images/server-red.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .server-connected {
     padding: 1px 10px;
     background-image: url("/images/server-green.png");
     background-repeat: no-repeat;
 }

div[data-tree-model] li .server {
    padding: 1px 10px;
    background-image: url("/images/server.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .reader {
    padding: 1px 10px;
    background-image: url("/images/reader.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .reader-cog {
    padding: 1px 10px;
    background-image: url("/images/reader-cog.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .link-red {
    padding: 1px 10px;
    background-image: url("/images/link-red.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .link-yellow {
    padding: 1px 10px;
    background-image: url("/images/link-yellow.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .link-green {
    padding: 1px 10px;
    background-image: url("/images/link-green.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .script-gear {
    padding: 1px 10px;
    background-image: url("/images/script_gear.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .cog {
    padding: 1px 10px;
    background-image: url("/images/cog.png");
    background-repeat: no-repeat;
}

div[data-tree-model] li .app-dev {
    padding: 1px 10px;
    background-image: url("/images/app-dev.png");
    background-repeat: no-repeat;
}