<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Sensor creation wizard
    </div>
    <div class="panel-body">

        <wizard on-finish="finishedWizard()" edit-mode="false" ng-controller="SensorWizardCtrl">
            <wz-step title="Reader Type Selection">
                <h4>Reader adapter configuration wizard</h4>


                <form novalidate >

                    <div class="form-group row" >

                        <p><h4>1. Please choose a reader type</h4></p>

                        <div class="col-lg-3">
                            <label class="control-label" for="readerType">Reader Type</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="readerType"
                                    ng-change="readerTypeSelectAction(selectedReaderType)"
                                    ng-model="selectedReaderType"
                                    ng-required="true"
                                    ng-options="value as value.factoryID for value in readerTypes | orderBy:'factoryID'">
                                <option>--</option>
                            </select>


                        </div>
                        <br>
                        <p>
                            {{selectedReaderType.description}}
                        </p>

                        <p><h4>2. Optionally provide a reader id</h4></p>

                        <div class="col-lg-3">
                            <label class="control-label" for="readerId">Reader ID</label>
                        </div>
                        <div class="col-lg-3">
                            <input name="readerId" id = "readerId" ng-change="readerIdChangeAction(customReaderId)"
                                   ng-model="customReaderId">
                            </input>
                        </div>
                        <br>
                        <p>
                            The reader id is important for applications' read zones to appropriate operate, and this id is used to link read zones with sensors. This command enables one to set the readerId versus the system generating one (default behavior).
                        </p>


                    </div>

                </form>

                <input type="submit" wz-next value="Next" />
            </wz-step>

            <wz-step title="Create session">
                <h4>Create session for reader type: {{selectedReaderType.factoryID}}</h4>

                <form novalidate >

                    <div class="form-group row" >


                        <div ng-repeat="property in selectedReaderConnectionProperties.properties | orderBy:['ordervalue', 'displayname']">

                            <div class="col-lg-6">
                                <label class="control-label">{{property.displayname}}</label>
                            </div>

                            <div class="col-lg-3">
                                <input type="text" ng-model="property.value" />
                            </div>

                            <br>
                            <p>

                        </div>

                        <div class="col-lg-6">
                            <label class="control-label">Automatically start session?</label>
                        </div>

                        <div class="col-lg-3">
                            <input type="checkbox" ng-model="selectedReaderConnectionProperties.startSessionAut">
                        </div>


                    </div>
                </form>

                <input type="submit" wz-previous value="Previous" />
                <input type="submit" wz-next value="Next" />
            </wz-step>

            <wz-step title="Create command">
                <h4>Create command</h4>
                <p>The create command step</p>
                <input type="submit" wz-next value="Finish now" />
            </wz-step>
        </wizard>


    </div>
</div>



